Data Cleaning: Toby Sheung

In [105]:
#libraries
import pandas as pd

In [106]:
#Input covid dataset
data = pd.read_csv('/Users/toby/Documents/owid-covid-data.csv')
data

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2019-12-31,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,2020-01-01,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,2020-01-02,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,2020-01-03,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,2020-01-04,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47744,NaN,NaN,International,2020-09-29,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47745,NaN,NaN,International,2020-09-30,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47746,NaN,NaN,International,2020-10-01,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47747,NaN,NaN,International,2020-10-02,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47748,NaN,NaN,International,2020-10-03,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
#Output unique locations
num_loc = data.location.unique()
print(num_loc)

#Count of all unique locations
print('\nThere are', len(num_loc), 'unique locations in this dataset.')

['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola' 'Anguilla'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan' 'Bolivia'
 'Bonaire Sint Eustatius and Saba' 'Bosnia and Herzegovina' 'Botswana'
 'Brazil' 'British Virgin Islands' 'Brunei' 'Bulgaria' 'Burkina Faso'
 'Burundi' 'Cambodia' 'Cameroon' 'Canada' 'Cape Verde' 'Cayman Islands'
 'Central African Republic' 'Chad' 'Chile' 'China' 'Colombia' 'Comoros'
 'Congo' 'Costa Rica' "Cote d'Ivoire" 'Croatia' 'Cuba' 'Curacao' 'Cyprus'
 'Czech Republic' 'Democratic Republic of Congo' 'Denmark' 'Djibouti'
 'Dominica' 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador'
 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Ethiopia' 'Faeroe Islands'
 'Falkland Islands' 'Fiji' 'Finland' 'France' 'French Polynesia' 'Gabon'
 'Gambia' 'Georgia' 'Germany' 'Ghana' 'Gibraltar' 'Greece' 'Greenland'
 'Grenada' 'Guam' 'Guatemala' 'Guernsey' 'Guinea' 'Guinea-Bissau' 'Guyana'
 'Haiti' 'Honduras' 'Hong Kong' 'Hungary' 'Iceland' 'India' 'Indonesia'
 'Iran' 'Iraq' 'Ireland' 'Isle of Man' 'Israel' 'Italy' 'Jamaica' 'Japan'
 'Jersey' 'Jordan' 'Kazakhstan' 'Kenya' 'Kosovo' 'Kuwait' 'Kyrgyzstan'
 'Laos' 'Latvia' 'Lebanon' 'Lesotho' 'Liberia' 'Libya' 'Liechtenstein'
 'Lithuania' 'Luxembourg' 'Macedonia' 'Madagascar' 'Malawi' 'Malaysia'
 'Maldives' 'Mali' 'Malta' 'Mauritania' 'Mauritius' 'Mexico' 'Moldova'
 'Monaco' 'Mongolia' 'Montenegro' 'Montserrat' 'Morocco' 'Mozambique'
 'Myanmar' 'Namibia' 'Nepal' 'Netherlands' 'New Caledonia' 'New Zealand'
 'Nicaragua' 'Niger' 'Nigeria' 'Northern Mariana Islands' 'Norway' 'Oman'
 'Pakistan' 'Palestine' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru'
 'Philippines' 'Poland' 'Portugal' 'Puerto Rico' 'Qatar' 'Romania'
 'Russia' 'Rwanda' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Vincent and the Grenadines' 'San Marino' 'Sao Tome and Principe'
 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore'
 'Sint Maarten (Dutch part)' 'Slovakia' 'Slovenia' 'Somalia'
 'South Africa' 'South Korea' 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan'
 'Suriname' 'Swaziland' 'Sweden' 'Switzerland' 'Syria' 'Taiwan'
 'Tajikistan' 'Tanzania' 'Thailand' 'Timor' 'Togo' 'Trinidad and Tobago'
 'Tunisia' 'Turkey' 'Turks and Caicos Islands' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States'
 'United States Virgin Islands' 'Uruguay' 'Uzbekistan' 'Vatican'
 'Venezuela' 'Vietnam' 'Western Sahara' 'Yemen' 'Zambia' 'Zimbabwe'
 'World' 'International']

There are 212 unique locations in this dataset.

In [108]:
#No information about International, will remove from dataset
#Take the indexes of International
inter = data[data['location'] == 'International'].index
inter

Int64Index([47471, 47472, 47473, 47474, 47475, 47476, 47477, 47478, 47479,
            47480,
            ...
            47739, 47740, 47741, 47742, 47743, 47744, 47745, 47746, 47747,
            47748],
           dtype='int64', length=278)

In [109]:
#Remove 278 rows with International as location
data.drop(inter, inplace=True)
data

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2019-12-31,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.500,64.83,0.498
1,AFG,Asia,Afghanistan,2020-01-01,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.500,64.83,0.498
2,AFG,Asia,Afghanistan,2020-01-02,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.500,64.83,0.498
3,AFG,Asia,Afghanistan,2020-01-03,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.500,64.83,0.498
4,AFG,Asia,Afghanistan,2020-01-04,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.500,64.83,0.498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47466,OWID_WRL,NaN,World,2020-09-29,33438867.0,235901.0,292194.714,1002913.0,3923.0,5279.714,...,15469.207,10.0,233.070,8.51,6.434,34.635,60.130,2.705,72.58,NaN
47467,OWID_WRL,NaN,World,2020-09-30,33731211.0,292344.0,293766.857,1009128.0,6215.0,5301.571,...,15469.207,10.0,233.070,8.51,6.434,34.635,60.130,2.705,72.58,NaN
47468,OWID_WRL,NaN,World,2020-10-01,34045743.0,314532.0,294287.143,1015232.0,6104.0,5263.714,...,15469.207,10.0,233.070,8.51,6.434,34.635,60.130,2.705,72.58,NaN
47469,OWID_WRL,NaN,World,2020-10-02,34365765.0,320022.0,294132.000,1024002.0,8770.0,5690.429,...,15469.207,10.0,233.070,8.51,6.434,34.635,60.130,2.705,72.58,NaN
47470,OWID_WRL,NaN,World,2020-10-03,34680199.0,314434.0,294510.714,1029525.0,5523.0,5682.714,...,15469.207,10.0,233.070,8.51,6.434,34.635,60.130,2.705,72.58,NaN

In [110]:
#Output the names of all columns
data.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'tests_per_case', 'positive_rate', 'tests_units', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index'],
      dtype='object')

Observations:
- What is the difference betwen total cases smoothed_per_million vs new_cases_per_million?
- What is tests_units, stringency_index?
- How is human_development_index measured?

- a. 7-day smooth 
- b. test_units: units used by location to report data and
   stringency_index: government response indicators
- c. human_development: average achievement in human development

In [111]:
#Decide to drop smoothed columns
new = data.drop(columns=['new_cases_smoothed', 'new_deaths_smoothed', 'new_cases_smoothed_per_million', \
                 'new_deaths_smoothed_per_million', 'new_tests_smoothed', 'new_tests_smoothed_per_thousand'])
new.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'total_deaths', 'new_deaths', 'total_cases_per_million',
       'new_cases_per_million', 'total_deaths_per_million',
       'new_deaths_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand', 'tests_per_case',
       'positive_rate', 'tests_units', 'stringency_index', 'population',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index'],
      dtype='object')

In [112]:
#Remove tests_unit and stringency_index
new = new.drop(columns=['tests_units', 'stringency_index'])
new.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'total_deaths', 'new_deaths', 'total_cases_per_million',
       'new_cases_per_million', 'total_deaths_per_million',
       'new_deaths_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand', 'tests_per_case',
       'positive_rate', 'population', 'population_density', 'median_age',
       'aged_65_older', 'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index'],
      dtype='object')

In [113]:
#Output the number of remaining columns
len(new.columns)

33

In [114]:
#Number of days for each location
print(len(new['date'].unique()))
new['date'].unique()

278

array(['2019-12-31', '2020-01-01', '2020-01-02', '2020-01-03',
       '2020-01-04', '2020-01-05', '2020-01-06', '2020-01-07',
       '2020-01-08', '2020-01-09', '2020-01-10', '2020-01-11',
       '2020-01-12', '2020-01-13', '2020-01-14', '2020-01-15',
       '2020-01-16', '2020-01-17', '2020-01-18', '2020-01-19',
       '2020-01-20', '2020-01-21', '2020-01-22', '2020-01-23',
       '2020-01-24', '2020-01-25', '2020-01-26', '2020-01-27',
       '2020-01-28', '2020-01-29', '2020-01-30', '2020-01-31',
       '2020-02-01', '2020-02-02', '2020-02-03', '2020-02-04',
       '2020-02-05', '2020-02-06', '2020-02-07', '2020-02-08',
       '2020-02-09', '2020-02-10', '2020-02-11', '2020-02-12',
       '2020-02-13', '2020-02-14', '2020-02-15', '2020-02-16',
       '2020-02-17', '2020-02-18', '2020-02-19', '2020-02-20',
       '2020-02-21', '2020-02-22', '2020-02-23', '2020-02-24',
       '2020-02-25', '2020-02-26', '2020-02-27', '2020-02-28',
       '2020-02-29', '2020-03-01', '2020-03-02', '2020-03-03',
       '2020-03-04', '2020-03-05', '2020-03-06', '2020-03-07',
       '2020-03-08', '2020-03-09', '2020-03-10', '2020-03-11',
       '2020-03-12', '2020-03-13', '2020-03-14', '2020-03-15',
       '2020-03-16', '2020-03-17', '2020-03-18', '2020-03-19',
       '2020-03-20', '2020-03-21', '2020-03-22', '2020-03-23',
       '2020-03-24', '2020-03-25', '2020-03-26', '2020-03-27',
       '2020-03-28', '2020-03-29', '2020-03-30', '2020-03-31',
       '2020-04-01', '2020-04-02', '2020-04-03', '2020-04-04',
       '2020-04-05', '2020-04-06', '2020-04-07', '2020-04-08',
       '2020-04-09', '2020-04-10', '2020-04-11', '2020-04-12',
       '2020-04-13', '2020-04-14', '2020-04-15', '2020-04-16',
       '2020-04-17', '2020-04-18', '2020-04-19', '2020-04-20',
       '2020-04-21', '2020-04-22', '2020-04-23', '2020-04-24',
       '2020-04-25', '2020-04-26', '2020-04-27', '2020-04-28',
       '2020-04-29', '2020-04-30', '2020-05-01', '2020-05-02',
       '2020-05-03', '2020-05-04', '2020-05-05', '2020-05-06',
       '2020-05-07', '2020-05-08', '2020-05-09', '2020-05-10',
       '2020-05-11', '2020-05-12', '2020-05-13', '2020-05-14',
       '2020-05-15', '2020-05-16', '2020-05-17', '2020-05-18',
       '2020-05-19', '2020-05-20', '2020-05-21', '2020-05-22',
       '2020-05-23', '2020-05-24', '2020-05-25', '2020-05-26',
       '2020-05-27', '2020-05-28', '2020-05-29', '2020-05-30',
       '2020-05-31', '2020-06-01', '2020-06-02', '2020-06-03',
       '2020-06-04', '2020-06-05', '2020-06-06', '2020-06-07',
       '2020-06-08', '2020-06-09', '2020-06-10', '2020-06-11',
       '2020-06-12', '2020-06-13', '2020-06-14', '2020-06-15',
       '2020-06-16', '2020-06-17', '2020-06-18', '2020-06-19',
       '2020-06-20', '2020-06-21', '2020-06-22', '2020-06-23',
       '2020-06-24', '2020-06-25', '2020-06-26', '2020-06-27',
       '2020-06-28', '2020-06-29', '2020-06-30', '2020-07-01',
       '2020-07-02', '2020-07-03', '2020-07-04', '2020-07-05',
       '2020-07-06', '2020-07-07', '2020-07-08', '2020-07-09',
       '2020-07-10', '2020-07-11', '2020-07-12', '2020-07-13',
       '2020-07-14', '2020-07-15', '2020-07-16', '2020-07-17',
       '2020-07-18', '2020-07-19', '2020-07-20', '2020-07-21',
       '2020-07-22', '2020-07-23', '2020-07-24', '2020-07-25',
       '2020-07-26', '2020-07-27', '2020-07-28', '2020-07-29',
       '2020-07-30', '2020-07-31', '2020-08-01', '2020-08-02',
       '2020-08-03', '2020-08-04', '2020-08-05', '2020-08-06',
       '2020-08-07', '2020-08-08', '2020-08-09', '2020-08-10',
       '2020-08-11', '2020-08-12', '2020-08-13', '2020-08-14',
       '2020-08-15', '2020-08-16', '2020-08-17', '2020-08-18',
       '2020-08-19', '2020-08-20', '2020-08-21', '2020-08-22',
       '2020-08-23', '2020-08-24', '2020-08-25', '2020-08-26',
       '2020-08-27', '2020-08-28', '2020-08-29', '2020-08-30',
       '2020-08-31', '2020-09-01', '2020-09-02', '2020-09-03',
       '2020-09-04', '2020-09-05', '2020-09-06', '2020-09-07',
       '2020-09-08', '2020-09-09', '2020-09-10', '2020-09-11',
       '2020-09-12', '2020-09-13', '2020-09-14', '2020-09-15',
       '2020-09-16', '2020-09-17', '2020-09-18', '2020-09-19',
       '2020-09-20', '2020-09-21', '2020-09-22', '2020-09-23',
       '2020-09-24', '2020-09-25', '2020-09-26', '2020-09-27',
       '2020-09-28', '2020-09-29', '2020-09-30', '2020-10-01',
       '2020-10-02', '2020-10-03'], dtype=object)

In [115]:
#Examine how many null values in total_cases
new['total_cases'].isnull().sum()

614

In [116]:
new['new_cases'].isnull().sum()

614

In [117]:
new['total_deaths'].isnull().sum()

614

In [118]:
new['new_deaths'].isnull().sum()

614

In [119]:
new['total_cases_per_million'].isnull().sum()

614

In [120]:
new['new_cases_per_million'].isnull().sum()

614

In [121]:
new['total_deaths_per_million'].isnull().sum()

614

In [122]:
new['new_deaths_per_million'].isnull().sum()

614

In [123]:
#Figure out why it is 614
why = new[new['total_cases'].isnull()]
why

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
63,AFG,Asia,Afghanistan,2020-03-03,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
64,AFG,Asia,Afghanistan,2020-03-04,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
65,AFG,Asia,Afghanistan,2020-03-05,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
66,AFG,Asia,Afghanistan,2020-03-06,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
67,AFG,Asia,Afghanistan,2020-03-07,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46073,VEN,South America,Venezuela,2020-06-18,NaN,NaN,NaN,NaN,NaN,NaN,...,16745.022,NaN,204.850,6.47,NaN,NaN,NaN,0.8,72.06,0.761
46244,VNM,Asia,Vietnam,2020-03-03,NaN,NaN,NaN,NaN,NaN,NaN,...,6171.884,2.0,245.465,6.00,1.0,45.9,85.847,2.6,75.40,0.694
46245,VNM,Asia,Vietnam,2020-03-04,NaN,NaN,NaN,NaN,NaN,NaN,...,6171.884,2.0,245.465,6.00,1.0,45.9,85.847,2.6,75.40,0.694
46246,VNM,Asia,Vietnam,2020-03-05,NaN,NaN,NaN,NaN,NaN,NaN,...,6171.884,2.0,245.465,6.00,1.0,45.9,85.847,2.6,75.40,0.694
46247,VNM,Asia,Vietnam,2020-03-06,NaN,NaN,NaN,NaN,NaN,NaN,...,6171.884,2.0,245.465,6.00,1.0,45.9,85.847,2.6,75.40,0.694

Seems as though, some locations are missing dates within the dataset

In [124]:
#Get all unique locations
location = new['location'].unique()
#Only examine locations with all 278 dates
new_loc = []
delete = []

for x in location:
    if (len(new[new['location'] == x]) < 278):
        delete.append(x)
    else:
        new_loc.append(x)

In [125]:
len(new_loc)

65

In [126]:
#Contains all locations that does not have all 278 dates
delete

['Albania',
 'Andorra',
 'Angola',
 'Anguilla',
 'Antigua and Barbuda',
 'Argentina',
 'Aruba',
 'Bahamas',
 'Bangladesh',
 'Barbados',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bonaire Sint Eustatius and Saba',
 'Bosnia and Herzegovina',
 'Botswana',
 'British Virgin Islands',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cameroon',
 'Cape Verde',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'Colombia',
 'Comoros',
 'Congo',
 'Costa Rica',
 "Cote d'Ivoire",
 'Cuba',
 'Curacao',
 'Cyprus',
 'Democratic Republic of Congo',
 'Djibouti',
 'Dominica',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Ethiopia',
 'Faeroe Islands',
 'Falkland Islands',
 'Fiji',
 'French Polynesia',
 'Gabon',
 'Gambia',
 'Ghana',
 'Gibraltar',
 'Greenland',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guernsey',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Isle of Man',
 'Jamaica',
 'Jersey',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kosovo',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Madagascar',
 'Malawi',
 'Maldives',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'New Caledonia',
 'Nicaragua',
 'Niger',
 'Northern Mariana Islands',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Sint Maarten (Dutch part)',
 'Slovakia',
 'Slovenia',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Syria',
 'Tajikistan',
 'Tanzania',
 'Timor',
 'Togo',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turks and Caicos Islands',
 'Uganda',
 'Ukraine',
 'United States Virgin Islands',
 'Uruguay',
 'Uzbekistan',
 'Vatican',
 'Venezuela',
 'Western Sahara',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [127]:
#Contains rows of all 278 dates 
new_loc

['Afghanistan',
 'Algeria',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahrain',
 'Belarus',
 'Belgium',
 'Brazil',
 'Cambodia',
 'Canada',
 'China',
 'Croatia',
 'Czech Republic',
 'Denmark',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'Estonia',
 'Finland',
 'France',
 'Georgia',
 'Germany',
 'Greece',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Japan',
 'Kuwait',
 'Lebanon',
 'Lithuania',
 'Luxembourg',
 'Macedonia',
 'Malaysia',
 'Mexico',
 'Monaco',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nigeria',
 'Norway',
 'Oman',
 'Pakistan',
 'Philippines',
 'Qatar',
 'Romania',
 'Russia',
 'San Marino',
 'Singapore',
 'South Korea',
 'Sri Lanka',
 'Switzerland',
 'Taiwan',
 'Thailand',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Vietnam',
 'World']

In [129]:
#Remove those locations within the delete list
for i in delete:
    new = new.drop(new[new['location'] == i].index)

In [130]:
#Examine the remaining locations
new['location'].unique()

array(['Afghanistan', 'Algeria', 'Armenia', 'Australia', 'Austria',
       'Azerbaijan', 'Bahrain', 'Belarus', 'Belgium', 'Brazil',
       'Cambodia', 'Canada', 'China', 'Croatia', 'Czech Republic',
       'Denmark', 'Dominican Republic', 'Ecuador', 'Egypt', 'Estonia',
       'Finland', 'France', 'Georgia', 'Germany', 'Greece', 'Iceland',
       'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Japan', 'Kuwait', 'Lebanon', 'Lithuania', 'Luxembourg',
       'Macedonia', 'Malaysia', 'Mexico', 'Monaco', 'Nepal',
       'Netherlands', 'New Zealand', 'Nigeria', 'Norway', 'Oman',
       'Pakistan', 'Philippines', 'Qatar', 'Romania', 'Russia',
       'San Marino', 'Singapore', 'South Korea', 'Sri Lanka',
       'Switzerland', 'Taiwan', 'Thailand', 'United Arab Emirates',
       'United Kingdom', 'United States', 'Vietnam', 'World'],
      dtype=object)

In [131]:
#Retrieve all columns about covid data
col1 = new.columns[4:33]
col1

Index(['total_cases', 'new_cases', 'total_deaths', 'new_deaths',
       'total_cases_per_million', 'new_cases_per_million',
       'total_deaths_per_million', 'new_deaths_per_million', 'new_tests',
       'total_tests', 'total_tests_per_thousand', 'new_tests_per_thousand',
       'tests_per_case', 'positive_rate', 'population', 'population_density',
       'median_age', 'aged_65_older', 'aged_70_older', 'gdp_per_capita',
       'extreme_poverty', 'cardiovasc_death_rate', 'diabetes_prevalence',
       'female_smokers', 'male_smokers', 'handwashing_facilities',
       'hospital_beds_per_thousand', 'life_expectancy',
       'human_development_index'],
      dtype='object')

In [132]:
#Retrieve all columns that is solely focused on coronavirus numbers
col2 = new.columns[12:18]
print(col2)
new.loc[new['date'] == '2019-12-31',col2] = 0.0

Index(['new_tests', 'total_tests', 'total_tests_per_thousand',
       'new_tests_per_thousand', 'tests_per_case', 'positive_rate'],
      dtype='object')

In [134]:
#Front fill numbers within each location
for x in new_loc:
    new.loc[new.location == x, col1] = new[new['location'] == x][col1].ffill(axis=0)

In [136]:
new.isnull().sum()

iso_code                          0
continent                       278
location                          0
date                              0
total_cases                       0
new_cases                         0
total_deaths                      0
new_deaths                        0
total_cases_per_million           0
new_cases_per_million             0
total_deaths_per_million          0
new_deaths_per_million            0
new_tests                         0
total_tests                       0
total_tests_per_thousand          0
new_tests_per_thousand            0
tests_per_case                    0
positive_rate                     0
population                        0
population_density              278
median_age                      556
aged_65_older                   834
aged_70_older                   556
gdp_per_capita                  556
extreme_poverty                6672
cardiovasc_death_rate           556
diabetes_prevalence             278
female_smokers                 1668
male_smokers                   1668
handwashing_facilities        12510
hospital_beds_per_thousand      556
life_expectancy                   0
human_development_index        1112
dtype: int64

In [137]:
new

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2019-12-31,0.0,0.0,0.0,0.0,0.000,0.000,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.500,64.83,0.498
1,AFG,Asia,Afghanistan,2020-01-01,0.0,0.0,0.0,0.0,0.000,0.000,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.500,64.83,0.498
2,AFG,Asia,Afghanistan,2020-01-02,0.0,0.0,0.0,0.0,0.000,0.000,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.500,64.83,0.498
3,AFG,Asia,Afghanistan,2020-01-03,0.0,0.0,0.0,0.0,0.000,0.000,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.500,64.83,0.498
4,AFG,Asia,Afghanistan,2020-01-04,0.0,0.0,0.0,0.0,0.000,0.000,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.500,64.83,0.498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47466,OWID_WRL,NaN,World,2020-09-29,33438867.0,235901.0,1002913.0,3923.0,4289.895,30.264,...,15469.207,10.0,233.070,8.51,6.434,34.635,60.130,2.705,72.58,NaN
47467,OWID_WRL,NaN,World,2020-09-30,33731211.0,292344.0,1009128.0,6215.0,4327.400,37.505,...,15469.207,10.0,233.070,8.51,6.434,34.635,60.130,2.705,72.58,NaN
47468,OWID_WRL,NaN,World,2020-10-01,34045743.0,314532.0,1015232.0,6104.0,4367.751,40.352,...,15469.207,10.0,233.070,8.51,6.434,34.635,60.130,2.705,72.58,NaN
47469,OWID_WRL,NaN,World,2020-10-02,34365765.0,320022.0,1024002.0,8770.0,4408.807,41.056,...,15469.207,10.0,233.070,8.51,6.434,34.635,60.130,2.705,72.58,NaN
47470,OWID_WRL,NaN,World,2020-10-03,34680199.0,314434.0,1029525.0,5523.0,4449.146,40.339,...,15469.207,10.0,233.070,8.51,6.434,34.635,60.130,2.705,72.58,NaN

In [138]:
#Back fill if you cant get rid of of missing values
for x in new_loc:
    new.loc[new.location == x, col1] = new[new['location'] == x][col1].bfill(axis=0)

In [139]:
new.isnull().sum()

iso_code                          0
continent                       278
location                          0
date                              0
total_cases                       0
new_cases                         0
total_deaths                      0
new_deaths                        0
total_cases_per_million           0
new_cases_per_million             0
total_deaths_per_million          0
new_deaths_per_million            0
new_tests                         0
total_tests                       0
total_tests_per_thousand          0
new_tests_per_thousand            0
tests_per_case                    0
positive_rate                     0
population                        0
population_density              278
median_age                      556
aged_65_older                   834
aged_70_older                   556
gdp_per_capita                  556
extreme_poverty                6672
cardiovasc_death_rate           556
diabetes_prevalence             278
female_smokers                 1668
male_smokers                   1668
handwashing_facilities        12510
hospital_beds_per_thousand      556
life_expectancy                   0
human_development_index        1112
dtype: int64

Observations:
- The front fill helped to fill in numbers specifically about the coronavirus. But did not within the locations' statistical data about population, age, diabetes, life expectancy, etc. Most likely this dataset does not have any data on these numbers and if needed, we would have to find another dataset to understand these numbers. These numbers cannot be absentmindedly filled with zeros. It would not make sense to have 0 smokers, etc.

In [153]:
#For easier use with Tableau, the current dataset is output into a excel format datasheet

#new.to_excel('/Users/toby/Desktop/cleaned_covid_10-9.xlsx', index=False)

In [154]:
#Similarly, the current dataset is output into csv format data

#new.to_csv('/Users/toby/Desktop/clean_covid_10-9.csv', header = True)